* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'SFUIDisplay', sans-serif;
    overflow-x: hidden;
    background-image: url(./../../assets/img/bg-body.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -800px 300px;
}

section {
    padding: 100px 0;
}

.title {
    font-size: 35px;
    font-weight: bold;
    color: $title-color;
}

.text {
    font-size: 20px;
    font-weight: 300;
}

.menu {
    color: $text-color;
    font-size: 18px;
    font-weight: 600;
}

.swiper-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.link {
    text-decoration: none !important;
    cursor: pointer;
    transition: all .3s linear;

    &:hover {
        text-decoration: none !important;
        color: #F8C90F !important;
    }
}

@media (max-width: 1200px) {
    .text {
        font-size: 18px;
    }

    .title {
        font-size: 32px;
    }

    section {
        padding: 80px 0;
    }
}

@media (max-width: 992px) {
    .text {
        font-size: 16px;
    }

    .title {
        font-size: 30px;
    }

    section {
        padding: 60px 0;
    }
}

@media (max-width: 768px) {
    .text {
        font-size: 15px;
    }

    .title {
        font-size: 27px;
    }

    section {
        padding: 40px 0;
    }
}

@media (max-width: 568px) {
    .text {
        font-size: 14px;
    }

    .title {
        font-size: 23px;
    }

    section {
        padding: 30px 0;
    }
}