@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    }
}

@import 'fonts';
@import '_vars';
@import 'base';
@import 'blocks/header';
@import 'blocks/about';
@import 'blocks/info';
@import 'blocks/screenshot';
@import 'blocks/download';
@import 'blocks/footer';


