.about {
    background: url(../../../assets/img/about-bg.png) no-repeat;
    background-size: contain;
    background-position: center 330px;


    &__content {
        max-width: 465px;
        margin-left: auto;
    }
    &__text {
        font-size: 19px;
        color: $text-color;
    }
    &__image{
        display: flex;
        justify-content: flex-start;
        img {
            width: 90%;
        }
    } 
}

@media (max-width: 1200px) {
    .about {
        padding: 60px 0;
        &:after {
            top: 4%;
        }
    }
}

@media(max-width: 992px) {
    .about {
        &:after {
            width: 55%;
        }
       &__content {
           text-align: center;
           margin-left: 120px;
       }
       &__image img {
           margin-left: 150px;
           margin-bottom: 60px;
       }
       
    }

    
}