.about {
    padding: 100px 0 0 0;
    background: url(../img/about-bg.png) no-repeat -142px 84px /  contain ;
    &__content {
        max-width: 465px;
    }

    &__text {
        font-size: 19px;
        color: $text-color;
    }

    &__image {
        display: flex;
        justify-content: flex-start;

        img {
            width: 60%;
        }
    }
}

@media (max-width: 1200px) {
    .about {
        padding: 60px 0;
        background: url(../img/about-bg.png) no-repeat;
        background-size: contain;
        background-position: center 102px;

        &__text {
            font-size: 17px;
        }

        &__image {
            img {
                width: 70%;
                margin-left: 95px;
            }
        }
    }
}

@media(max-width: 992px) {
    .about {
        padding: 50px 0;
        background: none;

        &__content {
            margin: 0 auto;
        }

        &__text {
            font-size: 16px;
        }

        &__image {
            justify-content: center;
            img {
                width: 60%;
                margin: 0;
            }
        }
    }
}

@media(max-width: 768px) {
    .about {
        &__image {
            justify-content: center;
            img {
                width: 50%;
            }
        }

        &__title {
            text-align: center;
        }

        &__text {
            text-align: center;
        }
    }
}
@media (max-width: 568px) {
    .about {
        &__image img {
            width: 50%;
            margin: 0 auto;
        }
    }
}