.download {
    padding-top: 60px;
    padding-bottom: 20px;
    background: url(../../../assets/img/bg-dowloand.jpg) no-repeat center bottom / cover;

    &__title {
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        color: #fff;
        margin-bottom: 34px;
    }
    &__logo {
        display: flex;
        justify-content: center;
        padding-bottom: 150px;
        
        & a img {
            width: 85%;
        }
    }
}