.download {
    padding-top: 60px;
    padding-bottom: 20px;
    background: url(../../../assets/img/bg-dowloand.jpg) no-repeat center bottom / cover;

    &__title {
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        color: #fff;
        margin-bottom: 34px;
    }

    &__logos {
        display: flex;
        justify-content: space-between;
        padding: 0 60px 200px;

        & a  {
            width: 275px;
            img {
                display: flex;
                justify-content: center;
                max-width: 100%;
            }
        }
    }
}

@media (max-width: 1200px) {
    .download {
        &__logos {
            padding: 0 20px 200px;
        }
        &__title {
            font-size: 35px;
        }
    }
}

@media (max-width: 1200px) {
    .download {
        &__logos {
            padding: 0 20px 200px;

            & img {
                width: 190px;
            }
        }
        &__title {
            font-size: 30px;
        }
    }
}