.footer {
    margin-top: -100px;
    &__block {
        margin-top: 50px;
    }
    &__link {
        display: flex;
        align-items: center;
        list-style: none;
        font-size: 16px;
        color: #646974;
        

        &:nth-child(2) {
            margin: 15px 0;
        }
        a {
            color: #646974;
        }
    }
    &__text {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
    }
    &__copyright {
        display: flex;
        justify-content: space-between;

        &-text {
            font-size: 16px;
            font-weight: 300;
            color: #646974;
        }
    }
    &__title {
        font-size: 19px;
        font-weight: 500;
        margin-bottom: 30px;
        
    }
    &__text {
        font-size: 16px;
        font-weight: 300;
    }
    & ul {
        margin: 31px 0 12px;
    }

    &__block {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: 200px;

        &:last-child {
            width: 300px;
        }
        
    }

    &__contact {
        display: flex;
        flex-direction: column;

        & a {
            color: #646974;
        }
    }

    &__logo {
        display: flex;
        justify-content: center;
        width: 20px;
        margin-right: 35px;
    }
}

@media (max-width: 992px) {
    .footer {
        &__text {
            max-width: 400px;
        }
    }
}