.header {
    background: url(../../../assets/img/bg-header.png) no-repeat;
    background-position: right -70px;
    background-size: contain;

    &__image{ 
        display: flex;
        justify-content: flex-end;
        img {
           width: 85%;
        }
    }

    &__title {
        font-size: 60px;
        font-weight: 700;
    }
}

@media(max-width: 1200px) {
    .header {
        &__title {
            font-size: 40px;
        }

        &__description {
            font-size: 16px;
        }

        &__logo {
            width: 250px;
        }
    }
}

@media(max-width: 992px) {
    .header {
        background: none;
        &__content {
            margin-top: 30px;
        }
        
       
    }

    
}

@media(max-width: 768px) {
    .header {}
}

@media(max-width: 568px) {
    .header {}
}