.header {
    padding-top: 100px;
    // background: url('../../img/bg-header.png') no-repeat 100px -80px / contain;
    background: url(../img/bg-header.png) no-repeat 400px 70px / 70%;


    &__image {
        display: flex;
        justify-content: flex-end;

        img {
            width: 60%;
        }
    }

    &__title {
        font-size: 60px;
        font-weight: 700;
    }

    &__images {
        padding-left: 15px;
        padding-right: 140px;

        & img {
            width: 220px;
        }
    }
}

@media(max-width: 1200px) {
    .header {
        background: url(../img/bg-header.png) no-repeat 257px 80px / 68%;

        &__image {
            img {
                width: 55%;
                margin-right: 111px;
            }
        }

        &__title {
            font-size: 43px;
        }

        &__images {
            padding-left: 15px;
            padding-right: 90px;

            & img {
                width: 200px;
            }
        }
    }
}

@media(max-width: 992px) {
    .header {

        background: none;

        &__content {
            text-align: center;
        }


        &__description {
            max-width: 480px;
            margin: 0 auto;
        }

        &__image {
            display: none;
        }

        &__title {
            font-size: 40px;
        }

        &__logo {
            width: 200px;
        }

        &__images {
            padding: 0;
            justify-content: center;
        }

        & img {
            width: 180px;
        }
    }
}


@media(max-width: 768px) {
    .header {
        &__title {
            font-size: 35px;
        }

        &__images {
            width: 100%;
            padding: 0;
            flex-wrap: nowrap !important;
            justify-content: center !important;
            margin: 0 auto;
        }

        &__store {
            display: flex;
            justify-content: flex-end !important;

            &:last-child {
                justify-content: flex-start !important;
            }
        }

        & img {
            width: 140px;
            margin: 0;
        }
    }
}


@media(max-width: 568px) {
    .header {

        background: none;

        &__content {
            text-align: center;
        }

        &__title {
            font-size: 30px;
        }

        &__description {
            margin-bottom: 20px !important;
        }
        
    }

}