.header {
    // background: url('../../img/bg-header.png') no-repeat 100px -80px / contain;
    background: url(../../assets/img/bg-header.png) no-repeat 120px -50px / contain;


    &__image {
        display: flex;
        justify-content: flex-end;

        img {
            width: 85%;
        }
    }

    &__title {
        font-size: 60px;
        font-weight: 700;
    }

    &__images {
        padding-left: 15px;
        padding-right: 140px;

        & img {
            width: 220px;
        }
    }
}

@media(max-width: 1200px) {
    .header {
        background: url(../../../assets/img/bg-header.png) no-repeat 120px -50px / contain;

        &__image {
            img {
                width: 80%;
            }
        }

        &__title {
            font-size: 43px;
        }

        &__images {
            padding-left: 15px;
            padding-right: 90px;
    
            & img {
                width: 200px;
            }
        }
    }
}

@media(max-width: 992px) {
    .header {
        background: none;

        &__content {
            margin-top: 50px;
        }

        &__description {
            max-width: 480px;
        }

        &__image {
            display: none;
        }

        &__title {
            font-size: 40px;
        }

        &__logo {
            width: 200px;
        }

        &__images {
            padding-left: 15px;
            padding-right: 220px;
    
            & img {
                width: 180px;
            }
        }
    }
}

@media(max-width: 768px) {
    .header {
        &__title {
            font-size: 35px;
        }

        &__images {
            padding-left: 15px;
            padding-right: 240px;
    
            & img {
                width: 150px;
            }
        }
    }
}

@media(max-width: 568px) {
    .header {
        &__title {
            font-size: 30px;
        }

        &__description {
            margin-bottom: 20px !important;
        }

        &__images {
            padding-left: 15px;
            padding-right: 190px;
    
            & img {
                width: 120px;
            }
        }

        & .row {
            flex-wrap: nowrap !important;
        }
    }
}