.navbar {
    display: flex;
    align-items: center;
    
    &-brand img {
        margin-right: 60px;
    }

    &__item {
        margin: 0 30px 0 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        &:last-child {
            margin: 0;
        }
    }
}


@media(max-width: 1200px) {
    .navbar-brand img {
        margin-right: 20px;
    }
}

@media(max-width: 768px) {
    .navbar {
        padding: 0;
        &-brand {
            padding: 0;
            & img {
                width: 80%;
                margin-right: 0px;
            }
        }

        &-toggler {
            margin-top: 10px;
        }
    }
}

@media(max-width: 568px) {
    .navbar {
        padding: 0 10px 5px !important;
        &-brand {
            & img {
                width: 70%;
                margin-right: 0px;
            }
        }
    }
}