.screenshot {
    padding-top: 0;
    padding-bottom: 190px;
    background: url('../img/screen-bg.png') no-repeat center 200px / contain;

    &__title {
        text-align: center;
        font-size: 35px;
        font-weight: bold;
    }

    &__subtitle {
        text-align: center;
        font-size: 20px;
        margin-bottom: 72px;
    }

    &__image {
        & img {
            width: 100%;
            display: block;
            margin-right: -50px;
        }
    }
}

@media (max-width: 1200px) {
    .screenshot {
        padding-bottom: 170px;
    }
}

@media (max-width: 992px) {
    .screenshot {
        background: url('../img/screen-bg.png') no-repeat center 100px / contain;
        padding-bottom: 140px;
    }
}

@media (max-width: 768px) {
    .screenshot {
        position: relative;
        background: none;
        padding-bottom: 120px;

        &:after {
            content: '';
            width: 250px;
            height: 600px;
            display: block;
            position: absolute;
            right: 0;
            top: -5%;
            background: url('../img/screens-bghot.png')no-repeat center / contain;
        }

        &__image {
            & img {
                width: 100%;
            }
        }
    }

}

@media (max-width: 568px) {
    .screenshot {
        position: relative;
        background: none;
        padding-bottom: 80px;

        &:after {
            display: none;
        }

        &__image {
            & img {
                width: 90%;
                margin: 0;
            }
        }

    }
}