.screenshot {
    padding-top: 100px;
    padding-bottom: 90px;
    background: url('../img/screen-bg.png') no-repeat center 200px / contain;

    &__title {
        text-align: center;
        font-size: 35px;
        font-weight: bold;
    }
    

    &__subtitle {
        text-align: center;
        font-size: 20px;
        margin-bottom: 72px;
    }

    &__image {
        & img {
            width: 77%;
            display: block;
            margin-right: -50px;
            
        }
    }
}

@media (max-width: 1200px) {
    .screenshot {
        padding: 30px 0 40px;
        background: url('../img/screen-bg.png') no-repeat center 200px / contain;
    }
}

@media (max-width: 992px) {
    .screenshot {
        background: url('../img/screen-bg.png') no-repeat center 130px / contain;
        padding-bottom: 100px;
        &__image img {
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .screenshot {
        background: url('../img/screen-bg.png') no-repeat center 136px / contain;
        position: relative;
        padding-bottom: 120px;
         
        &__image {
            & img {
                width: 100%;
            }
        }
    }

}

@media (max-width: 568px) {
    .screenshot {
        position: relative;
        background: none;
        padding-bottom: 80px;

        &:after {
            display: none;
        }

        &__image {
            & img {
                width: 70%;
                margin: 0;
            }
        }

    }
}